:root {
    --off-white: #faf9f6;
    --goldish: #ff9923;
    font-family: 'Lora';
}

/* Font declarations */
/* lora-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora-v32-latin-regular.woff2') format('woff2');
}
/* lora-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/lora-v32-latin-italic.woff2') format('woff2');
}
/* lora-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora-v32-latin-700.woff2') format('woff2');
}

body {
    min-height: 100vh;
}

/* Preload backgroud images so they don't flicker on load */
body::after {
    content: url('../images/food-home.webp') url('../images/food-menu.webp')
        url('../images/food-contact.webp');
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

::selection {
    color: black;
    background-color: var(--goldish);
}

header {
    background-color: black;
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 5rem;
    height: 4.375rem;
}

h1 {
    grid-column: 1/2;
    color: var(--goldish);
    font-size: 2.25rem;
    font-weight: 700;
}

.nav-list {
    grid-column: 2/3;
    color: var(--off-white);
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-evenly;
}

.nav-list > li > a {
    padding: 0.25em 0.75em;
}

@media (hover: hover) {
    .non-active-tab:hover {
        color: lightgray;
    }
}

.active-tab {
    color: var(--goldish);
    border-bottom: 1px solid var(--goldish);
}

.main-home {
    margin-left: 15rem;
    margin-top: 15rem;
}

.secondary-text {
    color: lightgray;
    font-style: italic;
    font-size: 1.5rem;
    line-height: calc(1em + 0.5rem);
    margin-bottom: 1rem;
}

.primary-text {
    color: var(--off-white);
    font-weight: 700;
    font-size: 4.5rem;
    line-height: calc(1em + 0.5rem);
    margin-bottom: 4.375rem;
}

.order-link {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--goldish);
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
}

@media (hover: hover) {
    .order-link:hover {
        filter: brightness(80%);
    }
}

.main-menu {
    margin: 5rem 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
}

.glass-container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid lightgray;
    border-radius: 0.6em;
    backdrop-filter: blur(5px);
}

.glass-title {
    color: var(--off-white);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2rem;
    line-height: calc(1em + 0.5rem);
}

.glass-subtitle {
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
}

.glass-description {
    font-style: italic;
    font-size: 1.2rem;
    color: lightgray;
    margin: 0rem 2rem 2rem 2rem;
    line-height: calc(1em + 0.5rem);
    max-inline-size: 66ch;
}
